<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.admob.plugin"
        version="5.2.0">
    <name>AdmobPlugin</name>
    <keywords>ad,admob,google,google-play-service,iad,flurry,device,adwhirl,xdk,jquery,intel appframework,jqmob,cordova,phonegap,ads,html5,js</keywords>
    <description>
   Google AdMob plugin for Cordova, Phonegap and Intel XDK ,support ios and android,support admob v1 and admob v2 ,Monetize your app with one javascript line.simple and easy to use api.
    project home:https://github.com/admob-google/admob-cordova<br/>
    </description>
    <license>Apache 2.0 License</license>
    <repo>https://github.com/admob-google/admob-cordova</repo>
	<issue>https://github.com/admob-google/admob-cordova/issues</issue>
    <js-module src="www/AdmobPlugin.js" name="AdmobAd">
        <clobbers target="window.admob"/>
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdmobPlugin" >
                <param name="android-package" value="com.admob.cordova.plugin.AdmobAdPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
           <meta-data  android:name="com.google.android.gms.version"   android:value="7327000"/>
			<activity  android:name="com.google.android.gms.ads.AdActivity"  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.INTERNET"/>
			    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        </config-file>
        
        <source-file src="src/android/libs/admobadplugin.jar" target-dir="libs/"/>
        <source-file src="src/android/libs/google-play-services.jar" target-dir="libs/"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AdmobPlugin">
                <param name="ios-package" value="AdmobAdPlugin"/>
            </feature>
        </config-file>
        <source-file  src="src/ios/AdmobAdPlugin.m"/>
        <header-file  src="src/ios/AdmobAdPlugin.h"/>
 <framework src="src/ios/AdmobAPI.framework" custom="true"/>
	<framework src="EventKit.framework"/>
        <framework src="EventKitUI.framework"/>
        <framework src="StoreKit.framework"/>
        <framework src="AdSupport.framework"/>
        <framework src="MessageUI.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="AudioToolbox.framework"/>
    </platform>
</plugin>
